@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 10px 20px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #a5dc86;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.form-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.area{
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    width: 80%;
}
.hist{
    margin-left: 585px;
}
.submit, .result {
    background: #a5dc86;
    border: 0;
    margin: 2px;
    margin-left: 560px;
    font-size: 15px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

.result {
    background: #dcd686;
}

.img {
    background: url('floodimg.jpg');
    background-size: cover;
    filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

body, html {
    height: 100%;
    font-family: "Roboto", sans-serif;
}
